<p>
  PLGround provides a wiki-like document repository.
  Documents are written in ExT and rendered with an in-browser interpreter.
</p>
<p>
  <abbr title="Extensible Typesetting">ExT</abbr> is a document DSL embedded in the <abbr title="Compositional Programming">CP</abbr> language.
</p>
<p><em>Code Repo:</em>
  <a target="_blank" href="https://github.com/yzyzsun/CP-next">github.com/yzyzsun/CP-next</a>
<p><em>Creators:</em>
  <a target="_blank" href="https://yzsun.me">Yaozhu Sun</a>,
  <a target="_blank" href="https://www.linkedin.com/in/utkarshdhandhania/">Utkarsh Dhandhania</a>,
  <a target="_blank" href="https://i.cs.hku.hk/~bruno/">Bruno Oliveira</a>
