<div class="container mt-5">
  <h2 class="mb-4">Sign up</h2>

  <% if resource.errors.any? %>
    <div class="alert alert-secondary">
      <h5>
        <%= I18n.t("errors.messages.not_saved",
                   count: resource.errors.count,
                   resource: resource.class.model_name.human.downcase)
         %>
      </h5>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "shared/signup" %>
</div>
